{% extends 'allianceauth/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load filters %}
{% load evelinks %}

{% block page_title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}
    {% if msg %}
        <div class="alert alert-{{ msg.0 }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times</span>
            </button>
            <h4>
                {% if msg.0 == 'danger' %}
                    {% translate "Oh No!" %}
                {% elif msg.0 == 'success' %}
                    {% translate "Success!" %}
                {% endif %}
            </h4>
            <p>{{ msg.1 }}</p>
        </div>
    {% endif %}
    <div class="container col-sm-12">
        <h2>
            {% translate "Doctrine Export" %}
        </h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                {% translate "Doctrines" %}
            </div>
            <div class="panel-body">
                {% if not docs %}
                    <div class="alert alert-warning text-center">{% translate "No Doctrines Found" %} </div>
                {% else %}
                    <table class="table table-hover dataTable" id="docTable">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>{% translate "Name" %}</th>
                                <th>{% translate "Categories" %}</th>
                                <th>{% translate "Description" %}</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in docs %}
                                <tr>
                                    <td> <a href="{% url 'fittings:view_doctrine' doc.pk %}"><img src="{{ doc.icon_url }}" class="img-circle" style="display: block; margin: auto;"> </a></td>
                                    <td> <a href="{% url 'fittings:view_doctrine' doc.pk %}">{{ doc.name }}</a> </td>
                                    <td>
                                        {% for cat in doc.category.all %}
                                            <span class="label" style="background-color: {{cat.color}};"><a href="{% url 'fittings:view_category' cat.pk %}" class="nostyle">{{cat.name}}</a></span>
                                        {% endfor %}
                                    </td>
                                    <td> {{ doc.description|linebreaks }} </td>
                                    <td>
                                        <a href="{% url 'fittings_export:export_doctrine' doc.pk %}" class="btn btn-xs btn-info" style="float: centre;" data-toggle="tooltip" data-placement="top" title="{% translate 'Export Doctrine' %}"><span class="fa fas fa-download"></span> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}